.homeViewContainer .experience{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.homeViewContainer .page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.homeViewContainer .pageWrapper{
    position: relative;
}

.homeViewContainer .pageBody{
    width: 100vw;
    height: 100vh;
}