.home-view-container{
    /* background-color: red; */
    position: static !important;
}

.home-view-container.dark{
    background-color: #1C1C51;
}

.home-view-container.light{
    background-color: #fff;
}

.home-view-container .experience{
    position: fixed;
    width: calc(100% - 150px);
    height: 100vh;
}

.home-view-container .page{
    width: 100%;
    height: 100%;
}

.home-view-container .page-wrapper{
    position: relative;
    transition: .3s;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.home-view-container.dark .page-wrapper{
    color: #fff;
}

/*Section format*/
.section-margin{
    height: 2500px;
    width: 100%;
}

.section{
    position: relative;
    overflow: hidden;
    padding: 100vh 4%;
    margin: 0;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    transition: .3s;
}

.third-section{
    padding-bottom: 0;
    text-align: center;
}

.third-section .section-container{
    height: calc(100vh - 100px);
}

.home-view-container.light .section, .home-view-container.light .last-section{
    background: rgba(90, 183, 226, 0.62);

}

.home-view-container.dark .section, .home-view-container.dark .last-section{
    background: rgba(15, 15, 82, 0.62);
}

.left{
    margin-right: auto;
    border-top-right-radius: 700px 700px;
    border-bottom-right-radius: 0px 0px;
}

.right{
    margin-left: auto;
    border-top-left-radius: 700px 700px;
    border-bottom-left-radius: 0px 0px
}

/*Progress bar*/
.progress-wrapper{
    height: 0;
    width: 12px;
    z-index: 50;
}

.progress-bar-wrapper-left{
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar-wrapper-right{
    position: absolute;
    top: 0;
    right: 0;
}

.progress-bar{
    height: 100vh;
    width: 100%;
    background-color: #000;
    transform-origin: top center;
    transform: scaleY(1);
}

.light .progress-bar{
    background-color: #344F6A;
}

.dark .progress-bar{
    background-color: var(--light-section);
}

/*Fix play button*/

.fix-button{
    z-index: 50;
    position: absolute;
    cursor: pointer;
    width: 39px;
	height: 35px;
    border-radius: 29px;
    transform-origin: top left;
}

.fix-message{
    z-index: 50;
    position: absolute;
    cursor: pointer;
    width: 39px;
	height: 35px;
    transform-origin: top left;
}

.fix-button:hover{
    scale: 1.2;
}

.fix-button:active{
    scale: 1;
}

@media (max-width: 1250px) {
    .home-view-container .experience{
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .home-view-container .section{
        width: 100%;
    }

    .home-view-container .progress-bar-wrapper-left{
        right: 0;
        left: auto;
    }

    .fix-message{
        display: none;
    }
}

@media (max-width: 600px) {
    .third-section .section-container{
        height: auto;
        margin-bottom: 50px;
    }
}