.section-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    position: relative;
}

.section-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 30px;
}

.section-item-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    position: relative;
}

.section-item p{
    min-height: 100px;
}

.third-section .section-item p{
    min-height: auto;
}

.tached{
    position: relative;
}

.tached::after{
    content: "";
    position: absolute;
    width: 110%;
    height: 3px;
    top: 50%;
    left: -5%;
    border-radius: 2;
}

.light .tached::after{
    background-color: #fff;
}

.dark .tached::after{
    background-color: #08fdd8;
}

@media (max-width: 1000px){
    .section-container{
        padding: 0 8%;
    }
}

@media (max-width: 600px){
    .section-title{
        font-size: 2rem;
        text-align: center;
    }

    .section-item-title{
        font-size: 1.2rem;
        text-align: center;
    }

    .section-content p{
        font-size: 14px;
    }

    .section-item p, .third-section .section-item p{
        min-height: auto;
    }
}