.project-carousel-container{
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 15px;
    overflow: hidden; */
}

.project-carousel-container img{
    width: 100%;
    height: 100%;
    aspect-ratio: 17/9;
    border-radius: 15px;
}

.project-carousel-container .project-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}