.button{
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    min-width: 220px;
    min-height: 50px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s linear;
    pointer-events: auto;
    transition: .3s;
}

.button.button-main.light{
    color: var(--dark-secondary);
}

.button.button-main.dark{
    color:#fff;
}

.button:active{
    outline: none;
    scale: .95;
}

.button-main.light{
    border: 2px solid black;
}

.button-main.dark{
    border: 2px solid #fff;
}