.navbar-menu .navbar-menu-list-item{
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    height: 70px;
    justify-content: center;
    transition: .3s;
}

.navbar-menu.light .navbar-menu-list-item{
    border-top: 1px solid #d8d8d8;
}

.navbar-menu.light .navbar-menu-list-item.last{
    border-bottom: 1px solid #d8d8d8;
}

.navbar-menu.dark .navbar-menu-list-item{
    border-top: 1px solid var(--dark-section);
    color: #fff;
}

.navbar-menu .navbar-menu-list-item:hover{
    color: #08fdd8;
}

.navbar-menu.dark .navbar-menu-list-item.last{
    border-bottom: 1px solid var(--dark-section);
}

@media (max-height: 800px) {
    .navbar-menu .navbar-menu-list-item{
        height: 55px;
    }
}