.theme-switch .theme-switch-icon{
    width: 22px;
    height: 22px;
}

.theme-switch.light .theme-switch-icon{
    fill: #000;
}

.theme-switch.dark .theme-switch-icon{
    fill: #fff;
}

.theme-switch.light path{
    stroke: #000
}

.theme-switch.dark path{
    stroke: #fff
}

.theme-switch.light .switch-button{
    margin-right: 50%;
}

.theme-switch.dark .switch-button{
    margin-left: 50%;
}