.theme-switch{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.theme-switch .theme-switch-button{
    width: 60px;
    height: 30px;
    border-radius: 20px;
}

.theme-switch.dark .theme-switch-button{
    border: 1px solid white;
}

.theme-switch.light .theme-switch-button{
    border: 1px solid black;
}

.theme-switch .theme-switch-icon{
    width: 24px;
    height: 24px;
}

.theme-switch.light .theme-switch-icon{
    fill: #000;
}

.theme-switch.dark .theme-switch-icon{
    fill: #fff;
}

.theme-switch.light path{
    stroke: #000
}

.theme-switch.dark path{
    stroke: #fff
}