.navbar-socials{
    margin-bottom: 30px;
}

.navbar-socials ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 40px;
    text-align: center;
}

.navbar-socials .navbar-icon{
    transition: .3s;
}

.navbar-socials.dark .navbar-icon{
    color: #fff;
}

.navbar-socials .navbar-icon:hover{
    scale: 1.4;
}

@media (max-width: 1250px) {
    .navbar-socials ul{
        flex-direction: row;
        justify-content: center;
        gap: 60px;
    }

    .navbar-socials{
        margin-bottom: 80px;
    }
}

@media (max-height: 800px) {
    .navbar-socials{
        margin-bottom: 40px;
    }
}