.project-slider-container{
    position: relative;
    margin: 50px 0 100px;
}

.project-slider {
    width: 500px;
    margin: auto;
    position: relative;
}

.project-slider .slide{
    width: 100%;
    padding: 0 10px;
}

.project-slider .slider-images{
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.project-slider .project-info{
    position: absolute;
    border-radius: 20px;
    padding: 0 30px 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 300;
    color: #fff;
    transition: .5s ease-out;
}

.project-slider .slider-images:hover .project-info{
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.project-slider img{
    width: 100%;
    aspect-ratio: 16/9;
}

.project-slider h3{
    text-align: center;
    margin: 15px 0;
}

.project-slider p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.controls{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 42%;
}

.controls-next-prev{
    width: 100%;
    position: relative;
}

.controls .control-atras,
.controls .control-siguiente{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    transition: .3s;
    background: rgb(0 0 0 / 40%);
}

.dark .controls .control-atras,
.dark .controls .control-siguiente{
    background: rgb(0 0 0 / 60%);
}

.controls svg{
    width: 32px;
    height: 32px;
    transition: .3s;
    fill: #fff;
}

.controls .control-atras{
    left: -50px;
}

.controls .control-siguiente{
    right: -50px;
    transform: rotate(180deg);
}

/**Paginacion**/

.paginacion{
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.paginacion .paginacion-item{
    width: 6px;
    height: 6px;
    margin: 0px 8px!important;
    background: #D2D5DC;
    opacity: 1;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.paginacion .paginacion-item.active{
    position: relative;
    width: 24px;
    height: 24px;
    background: transparent;
    border-radius: 50%;
    transform: rotate(45deg);
}

.paginacion .paginacion-item.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:3px solid #0A47F0;
    border-radius: 50%;
    animation: progressSlideBannerHome 4s ease-in-out;
}

.project-slider:hover .paginacion-item.active::after {
    animation-play-state: paused;
}

@keyframes progressSlideBannerHome {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@media (max-width: 1500px){
    .project-slider{
        width: 400px;
    }

    .project-slider h3{
        font-size: 14px;
    }
    
    .project-slider p{
        font-size: 12px;
    }
}

@media (max-width: 1250px){
    .project-slider{
        width: 350px;
    }
}

@media (max-width: 1000px) {
    .project-slider{
        width: 100%;
    }

    .project-slider-container {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .controls{
        top: 35%;
    }

    .project-slider h3{
        font-size: 18px;
    }
    
    .project-slider p{
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .project-slider h3{
        font-size: 14px;
    }
    
    .project-slider p{
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .project-slider-container{
        position: relative;
        margin: 50px 0;
        max-width: 100%;
    }

    .controls{
        display: none;
    }
}