.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 100vh;
    position: fixed;
    pointer-events: auto;
    z-index: 100;
    transition: .3s;
}

.navbar.dark{
    border-right: 1px solid var(--dark-section);
    background-color: var(--dark-secondary);
}

.navbar.light{
    border-right: 1px solid #d8d8d8;
    /* background-color: var(--light-secondary); */
}

.navbar .navbar-logo{
    width: 150px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    user-select: none;
    transition: .3s;
}

.navbar.dark .navbar-logo{
    border-right: 1px solid var(--dark-section);
    background-color: var(--dark-main);
    border-bottom: 1px solid var(--dark-section);
}

.navbar.light .navbar-logo{
    border-right: 1px solid #d8d8d8;
    background-color: var(--light-main);
    border-bottom: 1px solid #d8d8d8;
}

.navbar .logo{
    width: 100%;
    transition: .3s;
}

.navbar.dark .logo{
    filter: invert(1);
}

.navbar .navbar-title{
    padding-bottom: 20px;
    transition: .3s;
}

.navbar.dark .navbar-title{
    color: #fff;
}

.navbar.light .navbar-title{
    color: #000;
}

@media (max-width: 1250px) {
    .navbar{
        display: none;
    }
}