.switch{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
}

.switch-container{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    transition: .3s;
    padding: 4px;
}

.light .switch-container{
    border: 2px solid black;   
}

.dark .switch-container{
    border: 2px solid white;
    background-color: #000;
}

.language-switch img{
    width: 22px;
}

.switch-button{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    transition: .3s;
}

.light .switch-button{
    background-color: #000;
}

.dark .switch-button{
    background-color: #fff;
}