.view > div{
    transition: .3s linear;
}

.view > div.dark{
    background-color: #0D0D2A;
}

.view > div.light{
    background-color: #ffffff;
}

button{
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
}

button:active{
    outline: none;
}