.view{
    width: calc(100% - 150px);
    height: 100vh;
}

.view > div{
    transition: .3s linear;
    width: 100%;
    height: 100%;
}

.view > div.dark{
    background-color: #0D0D2A;
}

.view > div.light{
    background-color: #ffffff;
}