.view-container{
    position: relative;
    width: 100%;
    margin-left: 150px;
}

.view-container:not(:has(.container)){
    height: 100%;
}

.view{
    width: 100%;
    height: 100%; 
    /* margin-left: 150px;  */
}

.view > div{
    transition: .3s linear;
    width: 100%;
    height: 100%;
}

.vanta-canvas{
    left: auto !important;
    right: 0 !important;
}

@media (max-width: 1250px) {
    .view-container{
        margin-left: 0;
    }
}