/*Vars css*/
:root{
  --black: #222222;
  --dark-main: #0D0D2A;
  --dark-secondary: #06061B;
  --dark-section: #15156C;
  --light-main: #fff;
  --light-secondary: #4a65be;
  --light-section: #c6edff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open-sans', sans-serif;
  overflow-x: hidden;
  color: var(--dark-secondary);
}

a{
  text-decoration: none;
  color: #000;
}