@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/*Vars css*/
:root{
  --black: #222222;
  --dark-main: #06061B;
  --dark-secondary: #0D0D2A;
  --dark-container: #1C1C51;
  --dark-section: #0f0f52;
  --light-main: #fff;
  --light-secondary: #f9f9f9;
  --light-section: #5ab7e2;
}

* {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

main{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: #000;
}

ul{
  display: flex;
  flex-direction: column;
  list-style: none;
}

::-webkit-scrollbar{
  display: none;
}